/* Footer Styles */

footer {
    background: #FFE9E9;
    padding: 100px 0px 0px 0px;

    @media screen and (max-width: 480px) {
        padding: 50px 0px 0px 0px;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    
    h3 {
        text-align: center;
        @include fontSize(55);
        line-height: 36px;
        flex-basis: 100%;
        margin: 0px 0px 0px 0px;
        
        
    }

    nav {
        flex-basis: 25%;
        
        @media screen and (max-width: 480px) {
            order: -1;
            flex-basis: 100%;
            margin-bottom: 50px;
        }
    }


    ul {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        @include fontSize(20);
        line-height: 29px;
        letter-spacing: 0.2px;

        @media screen and (max-width: 480px) {
            display: flex;
            justify-content: space-between;
        }
        
    }

    a {
        color: #201E21;
    }

    .subscribe {
        flex-basis: 50%;

        @media screen and (max-width: 480px) {
            flex-basis: 100%;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            @include fontSize(20);
            text-align: center;
            margin: 30px 0px 0px 0px;
        }
    }

    form {
        display: flex;
        margin: 10px 0px 10px 0px;
        justify-content: center;

        @media screen and (max-width: 480px) {
            flex-direction: column;
            align-items: center;
        }

        input {
            flex-basis: 80%;
            background: white;
            border: none;
            padding: 15px 30px 15px 30px;

            @media screen and (max-width: 480px) {
                flex-basis: 100%;
                width: 100%;
                text-align: center;
            }
           
        }

        button {
            font-family: 'East Sea Dokdo', sans-serif;
            @include fontSize(45);
            background-color: #0178A5;
            color: white;
            border: none;
            flex-basis: 20%;

            @media screen and (max-width: 480px) {
                flex-basis: 100%;
                width: 50%;
                margin: 20px 0px 40px 0px;
            }
        }
    }

    .contact {
        flex-basis: 25%;
        

        @media screen and (max-width: 480px) {
            flex-basis: 100%;
        }

        h4 {
            font-family: 'East Sea Dokdo', sans-serif;
            @include fontSize(45);
            margin: 0;
            text-align: right;
            line-height: 10px;

            @media screen and (max-width: 480px) {
                text-align: center;
            }
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            line-height: 29px;
            @include fontSize(20);
            margin: 0;
            text-align: right;

            &:first-of-type {
                margin-top: 20px;
            }

            @media screen and (max-width: 480px) {
                text-align: center;
            }
        }       
    }

    .copyright {
        background: #201E21;
        margin-top: 100px;
        margin-bottom: 0px;

        @media screen and (max-width: 480px) {
            margin-top: 50px;    ;
        }

        p {
           font-family: 'Roboto', sans-serif;
            font-weight: 400;
            line-height: 29px;
            @include fontSize(20);
            margin: 10px auto 10px;
            text-align: center; 
            color: white;
        }
    }

    
    
}
