.new-products {
    background: #FFE9E9;
    padding-top: 100px;
    padding-bottom: 100px;

    .wrapper {
        display: flex;
        
    }

    .image-container {
        margin-right: 2rem;
        flex-basis: 25%
    }

    .text-container {
        flex-basis: 70%;
        
        h2 {
            @include fontSize(75);
            line-height: 36px;
            margin: 0;
        }

        p {
            font-family: 'roboto', sans-serif;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0.2px;
            margin: 20px 0px 20px 0px;
        }

        a {
            display: inline-block;
            width: 175px;
            height: 50px;
            background-color: #0178A5;
            color: white;
            //line-height: 29px;
            text-align: center;
            @include fontSize(45)
        }
    }
}

.latest-exhibitions {    
    background: #F7DAE8;
    padding-top: 100px;
    padding-bottom: 100px;
    
    h2 {
        @include fontSize(75);
        text-align: center;
        margin: 0;
    }

    ul {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        li {
            flex-basis: 32%;
        }
    }
}

.links-to-additional-info {
    background: #FFE9E9;
}

.brush-and-paint-info {
    background: #F7DAE8;
    display: flex;
    flex-wrap: wrap;
    
    .text-container {
        flex-basis: 50%;

        h2 {
            @include fontSize(75);
            line-height: 36px;
            margin: 0;
        }

        p {
            font-family: 'roboto', sans-serif;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0.2px;
            margin: 20px 0px 20px 0px;
        }

        a {
            display: inline-block;
            width: 175px;
            height: 50px;
            background-color: #A7059B;
            color: white;
            //line-height: 29px;
            text-align: center;
            @include fontSize(45)
        }
    }

    .image-container {
        flex-basis: 50%;

    } 
}

