html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* General Styles */
html {
  font-family: "East Sea Dokdo", sans-serif;
  font-weight: normal;
  font-size: 125%;
  /*20px default */
  color: #201E21;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  padding: 100;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

/* Header Styles */
header {
  height: 90vh;
  padding: 40px;
  background: url("https://psd.hackeryou.com/assignment1-assets/paint-gallery/group-4@2x.png") center;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 480px) {
  header {
    padding: 20px;
  }
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
}
header h1 {
  line-height: 94.3px;
  font-family: "East Sea Dokdo", sans-serif;
  font-size: 122px;
  font-size: 6.1rem;
  margin: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-size: 1rem;
  line-height: 29px;
  letter-spacing: 0.2px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
@media screen and (max-width: 480px) {
  .navigation ul {
    display: none;
  }
}
.navigation li {
  padding: 0px 40px 0px 0px;
}
.navigation a {
  color: #201E21;
}
.navigation i {
  display: none;
}
@media screen and (max-width: 480px) {
  .navigation i {
    display: block;
    text-align: right;
    color: white;
    font-size: 50px;
    font-size: 2.5rem;
  }
}

.new-products {
  background: #FFE9E9;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 480px) {
  .new-products {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
.new-products .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .new-products .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.new-products .image-container {
  margin-right: 2rem;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
@media screen and (max-width: 480px) {
  .new-products .image-container {
    margin-right: auto;
    margin-bottom: 50px;
  }
}
.new-products .text-container {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}
@media screen and (max-width: 480px) {
  .new-products .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.new-products .text-container h2 {
  font-size: 75px;
  font-size: 3.75rem;
  line-height: 36px;
  margin: 0;
}
.new-products .text-container p {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.2px;
  margin: 20px 0px 20px 0px;
}
.new-products .text-container a {
  display: inline-block;
  width: 175px;
  height: 50px;
  background-color: #0178A5;
  color: white;
  text-align: center;
  font-size: 45px;
  font-size: 2.25rem;
}

.latest-exhibitions {
  background: #F7DAE8;
  padding-top: 100px;
  padding-bottom: 100px;
  line-height: 36px;
}
@media screen and (max-width: 480px) {
  .latest-exhibitions {
    padding-top: 50px;
  }
}
.latest-exhibitions h2 {
  font-size: 75px;
  font-size: 3.75rem;
  text-align: center;
  margin: 0;
}
.latest-exhibitions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}
.latest-exhibitions ul li {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}
@media screen and (max-width: 480px) {
  .latest-exhibitions ul li {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .latest-exhibitions ul li:last-of-type {
    display: none;
  }
}

.links-to-additional-info {
  background: #FFE9E9;
}
@media screen and (max-width: 480px) {
  .links-to-additional-info {
    padding: 50px 0px 50px 0px;
  }
}
.links-to-additional-info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media screen and (max-width: 480px) {
  .links-to-additional-info .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.links-to-additional-info .icon-container {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin: 100px 0px 100px 0px;
}
@media screen and (max-width: 480px) {
  .links-to-additional-info .icon-container {
    margin: 20px auto 20px;
  }
}
.links-to-additional-info .icon-container i {
  text-align: center;
  display: block;
  font-size: 50px;
  font-size: 2.5rem;
  color: #0178A5;
}
.links-to-additional-info .icon-container p {
  text-align: center;
  font-size: 55px;
  font-size: 2.75rem;
  line-height: 36px;
  margin: 10px auto 0px;
}
@media screen and (max-width: 480px) {
  .links-to-additional-info .icon-container p {
    margin: 20px auto 0px;
  }
}

.brush-and-paint-info {
  background: #F7DAE8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .brush-and-paint-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.brush-and-paint-info .text-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .brush-and-paint-info .text-container {
    margin: 50px 0px 50px 0px;
  }
}
.brush-and-paint-info .text-container .wrapper {
  width: 80%;
  max-width: 475px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 480px) {
  .brush-and-paint-info .text-container .wrapper {
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.brush-and-paint-info .text-container h2 {
  font-size: 75px;
  font-size: 3.75rem;
  line-height: 36px;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .brush-and-paint-info .text-container h2 {
    text-align: center;
  }
}
.brush-and-paint-info .text-container p {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.2px;
  margin: 20px 0px 20px 0px;
}
@media screen and (max-width: 480px) {
  .brush-and-paint-info .text-container p {
    text-align: center;
  }
}
.brush-and-paint-info .text-container a {
  display: inline-block;
  width: 175px;
  height: 50px;
  background-color: #A7059B;
  color: white;
  text-align: center;
  font-size: 45px;
  font-size: 2.25rem;
}
.brush-and-paint-info .image-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
@media screen and (max-width: 480px) {
  .brush-and-paint-info .image-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media screen and (max-width: 480px) {
  .brush-and-paint-info .text-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media screen and (max-width: 480px) {
  .brush-and-paint-info .image-left {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media screen and (max-width: 480px) {
  .brush-and-paint-info .text-right {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

/* Footer Styles */
footer {
  background: #FFE9E9;
  padding: 100px 0px 0px 0px;
}
@media screen and (max-width: 480px) {
  footer {
    padding: 50px 0px 0px 0px;
  }
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer h3 {
  text-align: center;
  font-size: 55px;
  font-size: 2.75rem;
  line-height: 36px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0px 0px 0px 0px;
}
footer nav {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
@media screen and (max-width: 480px) {
  footer nav {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 50px;
  }
}
footer ul {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-size: 1rem;
  line-height: 29px;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 480px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
footer a {
  color: #201E21;
}
footer .subscribe {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
@media screen and (max-width: 480px) {
  footer .subscribe {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
footer .subscribe p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-size: 1rem;
  text-align: center;
  margin: 30px 0px 0px 0px;
}
footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px 10px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 480px) {
  footer form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer form input {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  background: white;
  border: none;
  padding: 15px 30px 15px 30px;
}
@media screen and (max-width: 480px) {
  footer form input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    text-align: center;
  }
}
footer form button {
  font-family: "East Sea Dokdo", sans-serif;
  font-size: 45px;
  font-size: 2.25rem;
  background-color: #0178A5;
  color: white;
  border: none;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
@media screen and (max-width: 480px) {
  footer form button {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 50%;
    margin: 20px 0px 40px 0px;
  }
}
footer .contact {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
@media screen and (max-width: 480px) {
  footer .contact {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
footer .contact h4 {
  font-family: "East Sea Dokdo", sans-serif;
  font-size: 45px;
  font-size: 2.25rem;
  margin: 0;
  text-align: right;
  line-height: 10px;
}
@media screen and (max-width: 480px) {
  footer .contact h4 {
    text-align: center;
  }
}
footer .contact p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 29px;
  font-size: 20px;
  font-size: 1rem;
  margin: 0;
  text-align: right;
}
footer .contact p:first-of-type {
  margin-top: 20px;
}
@media screen and (max-width: 480px) {
  footer .contact p {
    text-align: center;
  }
}
footer .copyright {
  background: #201E21;
  margin-top: 100px;
  margin-bottom: 0px;
}
@media screen and (max-width: 480px) {
  footer .copyright {
    margin-top: 50px;
  }
}
footer .copyright p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 29px;
  font-size: 20px;
  font-size: 1rem;
  margin: 10px auto 10px;
  text-align: center;
  color: white;
}